<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.project1.modules.essay.EssayMapper">
    <insert id="addEssay" parameterType="essay" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into essay(subject, content, user_id,is_released)
        VALUES (#{subject},#{content},#{user.id},#{isReleased})
    </insert>
    <update id="updateEssay" parameterType="Essay">
        update essay
        set subject=#{subject},content=#{content},is_released=#{isReleased}
        where id=#{id}
    </update>
    <delete id="deleteEssay">
        delete from essay where id=#{id}
    </delete>

    <select id="findEssayById" resultMap="EssayResultMap">
        select * from essay e, user u where e.user_id=u.id and e.id=#{essayId}
    </select>

    <select id="getReleasedEssay" resultType="Essay">
        select * from essay where user_id=#{userId} and is_released=1
    </select>

    <resultMap type="essay" id="EssayResultMap" autoMapping="true">
        <association property="user" column="user_id" javaType="user" autoMapping="true"/>
    </resultMap>


</mapper>